<h1>対戦ルーム作成</h1>

<%= form_with(model: @battle, local: true) do |f| %>
  <ul>
    <li>
      <%= f.label :format, "フォーマット" %>
      <%= f.select :format, [["ローテーション","ローテーション"],["アンリミッテッド","アンリミッテッド"]] %>
    </li>
    <li>
      <%= f.label :leader_1, "リーダー1" %>
      <%= f.select :leader_1, [["エルフ","エルフ"],["ロイヤル","ロイヤル"],["ウィッチ","ウィッチ"],["ドラゴン","ドラゴン"],["ネクロマンサー","ネクロマンサー"],["ヴァンパイア","ヴァンパイア"],["ビショップ","ビショップ"],["ネメシス","ネメシス"]] %>
    </li>
    <li>
      <%= f.label :leader_2, "リーダー2" %>
      <%= f.select :leader_2, [["エルフ","エルフ"],["ロイヤル","ロイヤル"],["ウィッチ","ウィッチ"],["ドラゴン","ドラゴン"],["ネクロマンサー","ネクロマンサー"],["ヴァンパイア","ヴァンパイア"],["ビショップ","ビショップ"],["ネメシス","ネメシス"]] %>
    </li>
    <li>
      <%= f.label :room, "ルームNo." %>
      <%= f.text_field :room %>
    </li>
    <li>
      <%= f.label :content, "コメント" %>
      <%= f.text_field :content %>
    </li>
  </ul>
  <%= f.submit "投稿" %>
<% end %>

<%= link_to "Topページ", root_url %>
